@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #F2784B; 
    --secondary-color: #090a1a;
}
html {
    scroll-behavior: smooth;
} 

body{
    font-family: 'Poppins', 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1{
    font-size: 3rem;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.grid-x2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.box-shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.flex-details{
    display: flex;
    gap: 20px;
    align-items: center;
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    margin: 0;
    padding: 0;
    list-style: none;
}



/* Utilites */
.text-center{
    text-align: center;
}

.mt-1{
    margin-top: 10px;  
}

.mt-2{
  margin-top: 20px;  
}

.mt-3{
    margin-top: 30px;  
}

.mt-4{
    margin-top: 40px;  
}

.mb-1{
    margin-bottom: 10px;  
}

.mb-2{
  margin-bottom: 20px;  
}

.mb-3{
    margin-bottom: 30px;  
}

.mb-4{
    margin-bottom: 40px;  
}

.mb-6{
    margin-bottom: 500px;
}

.line{
    width: 100px;
    background-color: var(--primary-color);
    height: 5px;
    margin: 0 auto;
}

.btn{
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    transition: ease .40s;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.btn-primary{
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
}

.btn-outline{
    border: 2px solid var(--primary-color);
    color: #fff;
    transition: ease .40s;
}

.btn-outline:hover{
    background-color: var(--primary-color);
    transform: scale(1.1);
}

.no-scroll{
    overflow: hidden;
}

.error{
    padding: 10px;
    background-color: red;
    color: #fff;
}


section{
    padding: 120px 0;
}

/* logo */
.brand{
    font-size: 20px;
    font-weight: 700;
}

.firstname{
    color: var(--primary-color);
}

.firstname::before{
    content: '<';
    padding: 0 10px;
}

.lastname{
    color: #fff;
}

.lastname::after{
    content: '/>';
    padding: 0 5px;
}

/*
=================================================
                    Header 
=================================================
*/


/* navigation */

.navigation{
    background-color: transparent;
    color: var(--secondary-color);
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px; */
    width: 100%;
    position: fixed;
    font-weight: 400;
    z-index: 9999;
}

.sticky{
    background-color: #fff !important;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.flex-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-list li{
    display: inline-block;
    padding: 0 20px;
}

.nav-list li a{
    color: #fff;
}

.nav-list li a:hover{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

/* Hamburger Menu Icon */
.hamburger {
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: relative;
    background: none;
    border: none;
    z-index: 30;
    transition: all 0.25s;
    display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}
  
.hamburger-bottom {
    transform: translateY(14px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }
  
.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.nav-active{
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 700;
}


/*
=================================================
                    Home 
=================================================
*/
.greet{
    font-size: 1.5rem;
}

.greet::after, .greet::before{
    content: '--';
    padding: 0 10px;
    font-size: 30px;
}

.main-text{
    font-size: 3rem;
}

.primary-color{
    color: var(--primary-color);
}

.section-home{
    background-color: var(--secondary-color);
    color: #fff;
    height: 100vh;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 5% auto;
}

.profile-img{
    max-width: 100%;
    height: 200px;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
    outline: var(--primary-color);
}

/*
=================================================
                    Portfolio 
=================================================
*/

.porfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
}

.col{
    position: relative;
}

.col img{
    max-width: 100%;
    width: 550px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.layer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    transition: all .40s;
    opacity: 0;
    transform: translate(-10%);
}

.porfolio-details{
    position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	-webkit-transform: translate(0%, -50%);
	   -moz-transform: translate(0%, -50%);
		-ms-transform: translate(0%, -50%);
		 -o-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
	padding: 0 15px;
    transition: all 1s ease;
    color: #fff;
}


.layer:hover{
    background-color: #0d0f26;
    opacity: 1;
    transform: translateX(0);
}

/*
=================================================
                    Contact 
=================================================
*/
.hidden{
    visibility: hidden;
}

.details{
    padding: 30px;
}

/* Form */
.form-group{
    margin: 20px 0 40px;
}

input, textarea{
    width: 100%;
    /* padding: 10px; */
    border-radius: none;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    transition: ease-in-out .8s;
    outline: none;
    border-bottom: 2px solid var(--secondary-color);
}


input:focus, textarea:focus{
    border-bottom: 2px solid var(--primary-color);
}

input{
    height: 40px;
}

form{
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

/*
=================================================
                    Footer 
=================================================
*/

#footer {
	background: var(--secondary-color);
	text-align: center;
	padding: 40px 0;
	color: #FFF;
}
.social-links {
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
}

.social-links li {
	display: inline-block;
	margin: 5px;
}

.social-links a {
  color: #333;
}

.social-links .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.social-links .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/
.social-links #social-fb:hover {
  color: #3B5998;
}

.social-links #social-tw:hover {
  color: #4099FF;
}

.social-links #social-gp:hover {
  color: #d34836;
}

.social-links #social-in:hover {
  color: #007bb5;
}
.social-links #social-git:hover {
  color: #f5f5f5;
}

@media(max-width:768px){

    .brand{
        padding: 0 20px;
    } 

    .hamburger{
        position: absolute;
        right: 20px;
        display: block;
    }

    .flex-nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        z-index: 1;
    }
    .nav-list{
        position: absolute;
        top: 58px;
        background: #ffffff;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
        min-height: 100vh;
    }
    .nav-list.show {
        transform: translateX(0px);
    }

    .nav-list li{
        display: block;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        padding: 10px;
        /* border-bottom: #ccc solid 1px; */
        font-size: 2.5rem;
    }

    .nav-list li:last-child  {
        border-bottom: 0;
    }
    .nav-list li a{
        color: var(--secondary-color) !important;
    }
}

@media(max-width:620px){
    form{
        max-width: 100%;
    }
    .grid-3{
        grid-template-columns: 1fr;
    }
    /* body{
        line-height: normal;
    } */
    .flex{
        width: 80%;
    }
}
